/* login.css */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #ffffff; 
    font-family: Arial, sans-serif;
}

/* Center the login form */
.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



h1 {
    color: black;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}


h2{
     font-size: 20px;
     font-weight: lighter;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Secular One', sans-serif;
}

.E{
    color: #1877F2;
}

form {
    width: 100%;
    text-align: left;
}

div {
    margin: 15px 0;
}

label {
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    color: #a56d51; 
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #1877F2; 
    color: white; 
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #000000; 
    color: #ffffff; 
}


ul {
    list-style: none;
    margin-top: 10px;
}

li {
    font-size: 14px;
    margin: 5px 0;
}

/* Style links */
a {
    color: #007bff; /* Default link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reset{
    margin-left: 20px;
}