<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="register.css">
</head>
<body class="element">
    <h1>E-DVOCATE</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if 'danger' in message %}red{% else %}green{% endif %};">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div >
    <form method="POST" class="elemen" >
        <div>
            Full Name: <input type="text" name="fullname">
        </div>
        <div>
            Email: <input type="email" name="email">
        </div>
        <div>
            Phone Number: <input type="text" name="phone">
        </div>
        <div>
            Aadhar Number: <input type="text" name="aadhar_number">
        </div>
        <div>
            Password: <input type="password" name="password">
        </div>
        <div>
            Re-enter Password: <input type="password" name="confirm_password">
        </div>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
    </div>
</body>
</html>
