<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile-container">

        <div class="profile-info">
            <p ><strong>Name:</strong> {{ user_data['fullname'] }}</p>
            <p><strong>Mobile Number:</strong> {{ user_data['phone'] }}</p>
            <p><strong>Aadhaar Number:</strong> {{ user_data['aadhar_number'] }}</p>
            <p><strong>Email:</strong> {{ user_data['email'] }}</p>
        </div>
    </div>
</html>